
main{
  margin: 20px 200px auto 200px;
  background-color: #fffafa;
  font-family: 'Open Sans';
}

section{
  margin: 0px 80px 35px 40px;
}

h1{
  font-family: 'Montserrat';
}

.date{
  font-family: 'Roboto';
  color: #008080;
}